* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --subnav-item-height: 30px;
  }

  @font-face {
    font-family: 'Montserrat-Re';
    src: url('../assets/fonts/Montserrat-Regular.ttf')
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf')
  }

  @font-face {
    font-family: 'Dancing-Script';
    src: url('../assets/fonts/DancingScript-Regular.ttf');
  }
  html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat-Re', sans-serif;
  }
  body {
    background-color: #ffffff;
    color: #fffafa;
    line-height: 1.6;
    font-size: 16px;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  .ta-left {
    text-align: left;
  }

  .ta-right {
    text-align: right;
  }

  .ta-center {
    text-align: center;
  }

  .ta-justify {
    text-align: justify;
  }

  .fs-16 {
    font-size: 16px;
  }

  .format-img {
    border-radius: 6px;
    box-shadow: 4px 2px #dfdfdf;
  }

  /* CSS subnav =============================== */

  .ul-navbar {
    display: flex;
    position: relative;
  }

  .nav-item {
    padding: 0  10px 5px;
  }

  .nav-item.active >a{
    color: #f2cf5a;
  }

  .nav-item >a{
    font-size: 20px;
    color: #ffffff;
  }

  .nav-icon {
    color: #ffffff;
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #e8c552;
    transition: all ease 0.3s;
  }

  .subnav-father {
    position: relative;
  }

  .subnav-father::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    bottom: -15px;
    right: 0;
    width: 160px;
    height: var(--subnav-item-height);
  }

  .subnav-father:hover .subnav {
    display: block;
  }

  .subnav {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: #1a1a1a;
    padding: 15px 0;
  }

  .subnav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;   
  }

  .subnav-item a{
    font-size: 16px;
    color: #ffffff;
  }

  .subnav-item:hover {
    background-color: #404040;
  }

  /* FOOTER CSS =============================== */
  .footer-container {
    width: 100%;
  }

  .footer-container a:hover {
    color: rgb(249, 144, 144);
  }

  .footer-background {
    position: relative;
    background-image: url('../assets/images/dinh_doc_lap.jpg');
    width: 100%;
    height: 550px;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 0;
  }

  .rate-container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: start;
  }

  .footer-background::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
  }

  .footer-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 5;
    justify-content: space-around;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 18px;
  }

  .vote-container {
    display: flex;
    align-items: center;
  }

  .like-icon, .dislike-icon {
    font-size: 25px;
    margin: 4px 4px;
    padding: 2px 4px;
  }

  .like-icon.active {
    color: rgb(58, 140, 222);
  }

  .dislike-icon.active {
    color: #b27575;
  }

  .input-email {
    border: none;
    width: 300px;
    height: 30px;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 6px;
  }

  .submit-btn {
    padding: 6px 30px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #8f1e1e;
    color: #fff;
  }

  .footer-logo {
    width: 320px;
  }

  .footer-socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-socialMedia-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 0px;
  }

  .footer-socialMedia-icon {
    width: 24px;    
    height: 24px;     
    font-size: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-aboutUs-content {
    font-size: 20px;
  }

  .footer-aboutUs-title, .footer-socialMedia-title {
    font-size: 23px;
    font-weight: 650;
  }

  .footer-aboutUs-icon {
    margin-right: 8px;
  }

  .copyright {
    position: absolute;
    bottom: 50px;
  }